
#wrapper {
    width: 80%;
    margin: 10px auto;
    position: relative;
}

ul.menu-list {
    display: block;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2.5em;
    list-style: none;
}

ul.menu-list  li:before {
    content: "• ";
}

ul.menu-list  li {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}

ul.menu-list  li  a{
    text-decoration: none;
    color: #000;
}

ul.menu-list  li:hover {
    cursor: pointer;
    background-color: #BAD5ED;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid #000000;
    padding-left: 5%;
}

ul.menu-list  li:hover:before{
    content: "↣ ";
    color: red;
}