body {
  background-color: rgba(14, 20, 21, 0.27);
}

.container {
  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;

  background: rgba(65,164,159,1);
  background: -webkit-linear-gradient(rgba(65,164,159,1) 0%, 
                                      rgba(65,164,159,1) 11%, 
                                      rgba(152,203,172,1) 45%, 
                                      rgba(196,223,178,1) 67%, 
                                      rgba(224,236,182,1) 81%, 
                                      rgba(224,236,182,1) 93%);
  background: -o-linear-gradient(rgba(65,164,159,1) 0%, 
                                 rgba(65,164,159,1) 11%, 
                                 rgba(152,203,172,1) 45%, 
                                 rgba(196,223,178,1) 67%, 
                                 rgba(224,236,182,1) 81%, 
                                 rgba(224,236,182,1) 93%);
  background: linear-gradient(rgba(65,164,159,1) 0%, 
                              rgba(65,164,159,1) 11%, 
                              rgba(152,203,172,1) 45%, 
                              rgba(196,223,178,1) 67%, 
                              rgba(224,236,182,1) 81%, 
                              rgba(224,236,182,1) 93%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a49f', 
                                                      endColorstr='#e0ecb6', 
                                                      GradientType=0 );
}


.section__header,
.section__footer {
  background-color: #43220C;
  color: #fff;
}

.section__article {
  clear: both;
  padding-bottom: 24px;
  background-color: #f0f8ff;
}

.section__footer {
  padding-left: 10px;
}

.section__footer p {
  margin-top: 0;
  padding: 5px 0;
}


.section__article header h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.33333333333333em;
  color: #fff;
  background-color: #5f9ea0;
  padding: 20px;
  margin: 0;
  margin-bottom: 1.33333333333333em;
  text-shadow: 1px 1px 1px #000000, 
               1px 2px 1px #405b64;
}

.section__header__navigation {
  padding: 8px;
}

.quotation {
  display: inline-block;
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin: 0;

  font-family: 'Raleway', sans-serif;
  background-color: #fff;
}

.quotation p:before {
    position: relative;
    content: '\201C';
    font-family: serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 1em;
    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
    color: rgba(188, 147, 200, 1);
}

.quotation__author {
  display: block;
  padding-top: 3px;
  margin-right: 40px;

  font-size: initial;
  text-align: right;
  font-weight: bold;
}

.quotation__author:before {
  content: "-";
}

@media only screen and (min-width: 471px) {
  .section__sidebar,
  .section__content {
    float: left;
  }

  .section__sidebar {
    width: 40%;
  }

  .section__content {
    width: 60%;
  }

  .quotation {
    margin: 20px;

    border: 1px solid;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 6px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 6px 4px rgba(50, 50, 50, 0.75);
  }
}

@media only screen and (min-width: 760px) {
  body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
  }
  .container {
    border-left: 2px;
    border-left-style: solid;
    border-right: 2px;
    border-right-style: solid;
  }
  .section__content {
    font-size: 2em;
    line-height: 1.33333333333333em;
    margin-bottom: 1.33333333333333em;
  }

  .quotation { 
    margin: 40px;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}