#md-logo-div {
  position: relative;
}
 
#md-logo-div a.l-logo {
  color: #fff;
  line-height: 50px;
  text-decoration: none;
}
 
#md-logo-div  i.logo-ic {
  margin-right: 0;
}
 
#md-logo-div i.logo-ic {
  width: 60px;
  height: 48px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
 
i.logo-ic span {
  display: block;
  margin: 0 auto 1px;
  height: 11px;
}
 
#md-logo-div a.l-logo span {
  font-weight: 700;
}
 
.logo-ic .bl1 {
  background: #45c2d5;
  width: 52px;
}
 
.logo-ic .bl2 {
  background: #f9787d;
}
 
.logo-ic .bl3 {
  background: #f782b9;
  width: 52px;
}
 
.logo-ic .bl4 {
  background: #2ad97d;
  width: 42px;
}