#profileCard {
  padding-top: 4px;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #b0b3b8;
  background-color: #252932;
  -webkit-box-shadow: -2px 0px 3px 0px rgba(9, 0, 0, 0.5);
  -moz-box-shadow:    -2px 0px 3px 0px rgba(9, 0, 0, 0.5);
   box-shadow:        -2px 0px 3px 0px rgba(9, 0, 0, 0.5);
}

.profileCard__picture {
  display: block;
  overflow: hidden;
}

.profileCard__picture__image {
  display: block;
  margin: 30px auto;
  max-width: 60%;
  height: auto;
  border: 8px solid #000000;
  border-radius:         50%;
  -moz-border-radius:    50%;
  -webkit-border-radius: 50%;
}

.profileCard__name,
.profileCard__reference {
  text-align: center;
}

.profileCard__name {
  font-family: 'Playfair Display', serif;
  font-size: 2.2em;
  line-height: 0.6818181818181818em;
  margin-bottom: 0.6818181818181818em;
}

.profileCard__reference {
  color: #f56f6c;
}

.profileCard__description {
  padding: 20px;
  box-shadow: inset 0 0 2em #000;
}

.flag {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  list-style-type: none;
}

.flag__item {
  float: left;
  display: block;
  width: 33.333333333333333333333333333333%;
  height: 20px;
}

.flag__item--green {
    background-color: rgb(31, 192, 0);
}

.flag__item--white {
    background-color: rgb(255, 255, 255);
}

.flag__item--red {
    background-color: rgb(206, 43, 55);
}

.social__list {
  position: relative;
  padding-bottom: 50px;
  text-align: center;
  list-style-type: none;
}

.social__list__item {
  display: inline-block;
  width: 50%;
  border-bottom: 1px dashed rgba(206, 206, 206, 0.24);
  cursor: pointer;
}

.social__list__item:last-child {
  border: initial;
}

.social__link {
  display: block;
}

.social__link:hover {
  background-color: rgba(255, 255,255, 0.04);
}

.social__link:hover img {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  filter: invert(1);
}


@media screen and (min-width: 450px) {
    #profileCard {
      float: right;
      width: 350px;
    }
}

@media screen and (min-width: 700px) {
    .social__list__item {
      float: left;
      width: calc(33.33333333333333% - 2px);
      border: initial;
      border-right: 1px dashed rgba(206, 206, 206, 0.24);
    }
    .social__image {
      width: 55%;
    }
    .social__list__item:last-child {
      border: initial;
    }
}

